body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 3rem;
}

.link-button {
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(#e5bcbc, tomato);
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  font-weight: 700;
  font-size: 1.5em;
  box-shadow: 0px 10px 30px 0px #a7ff7b;
}

.section {
  display: flex;
}

.section1 {
  background-image: linear-gradient(#a5ff77, white);
}

.rect {
  display: inline-block;
  position: absolute;
  height: 23rem;
  width: 23rem;
  background-image: linear-gradient(#f1c1bc, tomato);
  border-radius: 1.9rem;
}

.rect1 {
  transform: rotate(45deg);
}

.rect2 {
  transform: rotate(-30deg);
}

.cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-width {
  width: 50%;
}

.welcome {
  padding: 4rem;
  text-align: right;
}

.welcome > p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.about > p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-align: justify;
  padding-right: 4rem;
}

.cover-img {
  z-index: 1;
  width: 60%;
}

.rect1 {
  animation: rotation 20s infinite linear;
}

.rect2 {
  animation: rotationReverse 20s infinite linear;
}

.section2 {
  margin-top: 6rem;
}

.about-cover > img {
  width: 40px;
}

.circle {
  display: inline-block;
  position: absolute;
  border-radius: 100%;
  height: 25rem;
  width: 25rem;
  background-image: linear-gradient(#f1c1bc, salmon);
  top: -3rem;
  left: 7.5rem;

  animation: rotation 5s infinite linear;
}

/* ----------Key Frames---------- */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationReverse {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* ----------END of Key Frames---------- */
